@import "compass/css3";

#welcome-section {
  text-align: center;
  color: white;
  font-size: 1.5vw;
}
h1 {
  font-size: 5vw;
}
#imgone {
  padding: 15px; /* Some padding */
  width: 50%; /* Set a small width */
  margin: auto;
}
#personalpic {
  border-radius: 15%;
  padding: 15px;
  }

.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  border-radius: 50%;
  }
.fa-medium, .fa-github, .fa-envelope{
  color: black;
}

.fa:hover {
  opacity: 0.7;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/nMqdVApWNow/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#contact {
  padding: 15px;
  margin-bottom: 100px;
  }
footer {
  text-align: center;
}

#skill-1, #skill-2, #skill-3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 100px;
  width: 100%;
}

#skill-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}


#skill {
  margin-bottom: 1em;
  position: relative;
  h3 {
    color: #fff;
    left: 1em;
    line-height: 1;
    position: absolute;
    top: 1em;
  }
  ::-webkit-progress-value { 
    -webkit-animation: bar-fill 2s;
    width: 0px;
  }
}

#skill-1::-webkit-progress-value {
  background: #4ecdc4;
}

#skill-1::-moz-progress-bar {
  background: #4ecdc4;
}

#skill-2::-webkit-progress-value {
  background: #4ecdc4;
}

#skill-2::-moz-progress-bar {
  background: #4ecdc4;
}

#skill-3::-webkit-progress-value {
  background: #4ecdc4;
}

#skill-3::-moz-progress-bar {
  background: #4ecdc4;
}
